:root {
    --font-dosis: 'Dosis', sans-serif;
    --font-rock-salt: 'Rock Salt', cursive;
    --color-orange: #FF8C00FF;
    --color-darkorange: #FF8C00FF;
}

* {
    box-sizing: border-box;
}
body {
    background: linear-gradient(to right, #dbd8d8, #fcfcfc, #e8e4e4);
}
.container {
    max-width: 1920px;
    margin: 0 auto;
}
.logo {
    width: 70px;
    height: 50px;
    margin-left: 30px;
}

/*HEADER*/
.header_nav {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
    background: #cfcaca;
}
.header_nav--list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_nav--item {
    font-family: var(--font-dosis);
    list-style: none;
    margin-right: 350px;
    text-transform: uppercase;
    letter-spacing: 3.28px;
    font-weight: 600;
}
.header_nav--item:last-of-type {
    margin-right: 50px;
}
.header_nav--link {
    text-decoration: none;
    color: black;
    border-bottom: 3px solid transparent;
    padding-bottom: 14px;
}
.header_nav--link:hover {
    color: var(--color-darkorange);
    border-bottom-color: var(--color-orange);
}
.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_text {
    padding-left: 126px;
}
.title_content{
    display: flex;

}
.header_title {
    font-family: var(--font-rock-salt);
    font-size: 5.8125rem;
    max-width: 400px;
}
.bee_img {
    width: 205px;
    height: 140px;
}
.header_description {
    font-family: var(--font-dosis);
    font-size: 1.25rem;
    max-width: 535px;
    margin-bottom: 75px;

}
.header_link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--font-dosis);
    font-size: 1.25rem;
    letter-spacing: 3.28px;
    background: radial-gradient(circle, rgba(246,195,88,1) 17%, rgba(247,168,3,1) 61%);
    border-radius: 12px;
    padding: 12px 25px;
    margin-left: 10px;
    font-weight: 600;
    color: black;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
}
.header_image {
    position: relative;
    right: -48px;
}