:root {
    --font-dosis: 'Dosis', sans-serif;
    --font-rock-salt: 'Rock Salt', cursive;
    --color-orange: #FF8C00FF;
    --color-darkorange: #FF8C00FF;
}

* {
    box-sizing: border-box;
    font-family: var(--font-dosis);
    letter-spacing: 2px;
}
body {
    background: linear-gradient(to right, #dbd8d8, #fcfcfc, #e8e4e4);
}
.container {
    max-width: 100vw;
    margin: 0 auto;
}
.logo {
    width: 70px;
    height: 50px;
    margin-left: 30px;
    display: block;
}

/*HEADER*/
.header_nav {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
    background: #cfcaca;
}
.header_nav--list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: 450px;
}
.header_nav--item {
    font-family: var(--font-dosis);
    list-style: none;
    /*margin-right: 350px;*/
    text-transform: uppercase;
    letter-spacing: 3.28px;
    font-weight: 600;
}
.header_nav--item:last-of-type {
    margin-right: 50px;
}
.header_nav--link {
    text-decoration: none;
    color: black;
    border-bottom: 3px solid transparent;
    padding-bottom: 14px;
}
.header_nav--link:hover {
    color: var(--color-darkorange);
    border-bottom-color: var(--color-orange);
}
.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_text {
    padding-left: 126px;
    margin-right: 48px;
}
.title_content{
    display: flex;
}
.header_title {
    font-family: var(--font-rock-salt);
    font-size: 5.8125rem;
    max-width: 400px;
}
.bee_img {
    width: 205px;
    height: 140px;
}
.header_description {
    font-family: var(--font-dosis);
    font-size: 1.25rem;
    max-width: 535px;
    margin-bottom: 75px;
    margin-top: -50px;
    letter-spacing: 2px;
    line-height: 35px;
}
.header_link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--font-dosis);
    font-size: 1.25rem;
    letter-spacing: 3.28px;
    background: radial-gradient(circle, rgba(246,195,88,1) 17%, rgba(247,168,3,1) 61%);
    border-radius: 12px;
    padding: 12px 25px;
    margin-left: 10px;
    font-weight: 600;
    color: black;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
}
.header_image {
    position: relative;
}

/*ABOUT*/
.about {
    display: flex;
    align-items: center;
}
.about_text {
    margin-left: 200px;
    margin-top: -200px;
    padding-right: 100px;
}
.about_title {
    font-family: var(--font-rock-salt);
    font-size: 2.5rem;
}
.about_title::before {
    content: "";
    width: 149px;
    height: 180px;
    background-image: url("../assets/O.png");
    display: block;
    position: relative;
    left: -50px;
    top: 150px;
}
.about_description {
    font-size: 1.25rem;
    letter-spacing: 2px;
    line-height: 35px;
    margin-top: -40px;
}

/*PRODUCTS*/
.products_title {
    font-family: var(--font-rock-salt);
    font-size: 2.25rem;
    padding-left: 100px;
    margin-top: -70px;
}
.products_title::before {
    content: "";
    width: 141px;
    height: 204px;
    background-image: url("../assets/H.png");
    display: block;
    position: relative;
    left: -50px;
    top: 200px;
}
.products_description {
    padding: 0 100px;
    font-family: var(--font-dosis);
    font-size: 1.25rem;
    line-height: 35px;
    letter-spacing: 2px;
    margin-top: -20px;
}
.products_filters--container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 100px;
    text-transform: uppercase;
}
.product_items--container {
    display: flex;
}
.product_items--single {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    border: 1px solid transparent;
    border-radius: 5%;
    background-color: #fbfbfb;
    margin-left: 30px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}